@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

header { 
  height: 15vh;
  background-color: rgb(226,70,43);
  
}

main { 
  min-height: 65vh;
}

footer { 
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #263238;
}

.orange-background {
  background-color: rgb(226,70,43);
  height: 40vh
}

.map-container iframe { 
  border-radius: 1rem;
  box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.53);
}

.container-general {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.menu-container { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: .6rem;
  color: white;
}

.menu-container a { 
  text-decoration: none;
  color: white;
}

.menu-container a:hover { 
  color: rgb(255, 174, 0);
}


.menu-container span { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: .5rem;
}

.icon-C { 
  color: rgb(255, 174, 0);
  font-size: 1.1rem;
}