.card-descrip{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    padding: 1rem;
    gap: 0.5rem;
}
.card-descrip h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
    color: white;
}
.card{
    border: rgb(70, 70, 70) 5px solid;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 0.5rem;
    margin: 10px;
    /* box-shadow:  5px 5px 10px rgb(30, 30, 30) ; */
    background-size: contain;
}
.card img{
    background-color: rgb(30, 30, 30) ;
}
.description{
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    padding: 2rem;
}
.mainDet{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .description {
        display: flex;
        flex-wrap: wrap;
    }
  }