.section-1 {
    padding: 0 0 0 2rem;
    background-color: rgb(226, 70, 43);
    min-height: 65vh;
    display: flex;
}

.card-main {
    width: 60vw;
}

.card-main h1 {
    padding-top: 2rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.card-main a {
    text-decoration: none;
}

.call-button {
    color: rgb(255, 217, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.call-button p {
    margin: 0;
}

.call-button svg {
    background-color: rgb(255, 217, 49);
    color: rgb(226, 70, 43);
    padding: 0.2rem;
    border-radius: 50%;
}

.shop-button {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    padding: 0.7rem 2rem;
    border-radius: 0.6rem;
    background-color: rgb(55, 55, 55);
}

.buttons {
    display: flex;
    gap: 1rem;
}

.section-1 img {
    height: 30rem;
    object-fit: cover;
    object-position: center;
}

.section-2 {
    background-color: rgb(54, 54, 54);
    height: 8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.section-2 .cat-card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-2 .cat-card img {
    height: 15rem;
    object-fit: cover;
    align-self: start;
    position: relative;
    bottom: 178px;
    left: 10px;
}

.section-2 .product {
    height: 100%;
    display: flex;
    align-items: center;
}

.section-2 .product img {
    height: 12rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    position: relative;
    bottom: 75px;
    left: 0px;
    box-shadow: 0.2rem 0.1rem 0rem 0.15rem rgb(255, 217, 49);
}

.section-3 {
    /* background-color: rgb(255, 255, 255); */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3rem;
    gap: 1rem;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.text-container img {
    height: 10rem;
    object-fit: cover;
    object-position: center;
}

.paw {
    height: 10rem;
    padding: 2rem;
    width: 10rem;
}