* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

main {
  background-color: #333333;
}

.orange-b {
  background-color: rgb(226, 70, 43);
  padding: 3rem 0 3rem;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card-J {
  background-color: rgb(54, 54, 54);
  width: 12rem;
  min-height: 18rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  gap: 0.5rem;
  text-align: center;
}
.card-J button:hover {
  background-color: #ffdd6f;
  box-shadow: 0 0 20px #ffd16f50;
}

.card-J button:active {
  background-color: #e09c43;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
}

.card-J h4 {
  height: 2rem;
}

.card-J button {
  padding: 0.5px 5px;
  border: 0;
  border-radius: 0.4rem;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.container-price { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-cont {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* establece la relación de aspecto de la imagen */
}

.img-cont:hover { 
  box-shadow: 0px 0px 10px #ffffff;
}

.img-cont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 2rem;
  width: 12rem;
  border-radius: 0.5rem 0.5rem 0 0;
  position: absolute;
  color: black;
  background-color: rgba(252, 89, 89, 0.666);
}

.card-J h4 {
  color: white;
  font-size: 1.1rem;
}

.card-J label {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.card-J span {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#count-add {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
  color: #4a7707;
}

#count-add:hover {
  background-color: #e4e4e4;
}

#cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  height: fit-content;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.inputSearch {
  width: 14rem;
  height: 2rem;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #000000; 
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 152, 76, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 152, 76, 0.1);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
