* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

main {
  min-height: 65vh;
}


.orange-b {
  background-color: #333333;
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.titles { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card-J {
  background-color: #2b3035;
  width: 12rem;
  min-height: 17rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  gap: .5rem;
  text-align: center;
}

.card-J button:hover {
  background-color: #ffdd6f;
  box-shadow: 0 0 20px #ffd16f50;
}

.card-J button:active {
  background-color: #e09c43;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
}

.card-J h4{
  height: 2rem;
}

.card-J button { 
  padding: .5px 5px;
  border: 0;
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.img-cont {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* establece la relación de aspecto de la imagen */
}

.img-cont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-J h4 {
  color: white;
  font-size: 1.1rem;
}

.card-J label {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.card-J span { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

#count-add {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
  color: #4a7707;
}

#count-add:hover{
  background-color: #e4e4e4;
}

#cards-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}