* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

main {
  min-height: 65vh;
}


.orange-b {
  background-color: #e2462b;
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.titles { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card-J {
  background-color: #2b3035;
  width: 12rem;
  min-height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 15px;
  gap: .5rem;
}

.img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
  border-radius: 15px;
}

.img-cont img {
  width: 100%;
}

.card-J h4 {
  color: white;
  font-size: 1.1rem;
}

.card-J label {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.card-J span { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

#count-add {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
  color: #4a7707;
}

#count-add:hover{
  background-color: #e4e4e4;
}

#cards-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
}