* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header { 
  height: 15vh;
  background-color: rgb(226,70,43);
}

main { 
  min-height: 75vh;
  background-color: rgb(226,70,43);

}

footer { 
  height: 10vh;
  background-color: rgb(54, 54, 54);
}
.