@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.modal-St {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000;
  right: 0;
  width: 300px; 
}

/* caja modal */
.modalContent {
  padding: 10px 20px;
  height: 100vh;
  background: rgba(255, 255, 0, 0.66);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#openModal {
  background-color: transparent;
  color: white;
  border: none;
}

/* Botón cerrar */
#close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

#close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .nav-btn {
    width: 5.5rem;
    min-height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
  }
}
@media screen and (max-width: 991px) {
  .nav-btn {
    background-color: white;
    border: 1px solid rgb(226, 70, 43);
    color: rgb(226, 70, 43);
  }
  .nav-container {
    background-color: white;
  }
}
.navbar {
  background-color: rgb(226, 70, 43) !important;
  color: white !important;
  border: black 1px solid;
  height: 15vh;
  border: 0;
  padding: 0;
}

.nav-container {
  z-index: 2;
  position: relative;
  background-color: rgb(226, 70, 43);
}

main {
  min-height: 75vh;
}

/* footer */
footer {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #263238;
}

.orange-background {
  background-color: rgb(226, 70, 43);
  height: 40vh;
}

.map-container iframe {
  border-radius: 1rem;
  box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.53);
}

.container-general {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.6rem;
  color: white;
}

.menu-container a {
  text-decoration: none;
  color: white;
}

.menu-container a:hover {
  color: rgb(255, 174, 0);
}

.menu-container span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

.icon-C {
  color: rgb(255, 174, 0);
  font-size: 1.1rem;
}
